# ipython

## ipython display

In [1]:
import pandas as pd
data = [[1, 2], [3, 4]]
pd.DataFrame(data, columns=["Foo", "Bar"])

   Foo  Bar
0    1    2
1    3    4

https://pypi.org/project/prettytable/

In [2]:
!pip install prettytable -i https://pypi.tuna.tsinghua.edu.cn/simple

Collecting prettytable
  Downloading prettytable-3.10.2-py3-none-any.whl (28 kB)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prettytable) (0.2.5)
Installing collected packages: prettytable
Successfully installed prettytable-3.10.2

In [3]:
pip uninstall prettytable -y

Found existing installation: prettytable 3.10.2
Uninstalling prettytable-3.10.2:
  Successfully uninstalled prettytable-3.10.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
!pip install -U prettytable -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting prettytable
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/c5/16/ec5cc65437dce97d2814a7ba31842b0ee958d102f6e99e264c35f15c328f/prettytable-3.10.2-py3-none-any.whl (28 kB)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prettytable) (0.2.5)
Installing collected packages: prettytable
Successfully installed prettytable-3.10.2

In [5]:
from prettytable import PrettyTable
table = PrettyTable()

In [6]:
table.field_names = ["City name", "Area", "Population", "Annual Rainfall"]
table.add_rows(
    [
        ["Adelaide", 1295, 1158259, 600.5],
        ["Brisbane", 5905, 1857594, 1146.4],
        ["Darwin", 112, 120900, 1714.7],
        ["Hobart", 1357, 205556, 619.5],
        ["Sydney", 2058, 4336374, 1214.8],
        ["Melbourne", 1566, 3806092, 646.9],
        ["Perth", 5386, 1554769, 869.4],
    ]
)

In [7]:
table.get_formatted_string()

'+-----------+------+------------+-----------------+\n| City name | Area | Population | Annual Rainfall |\n+-----------+------+------------+-----------------+\n|  Adelaide | 1295 |  1158259   |      600.5      |\n|  Brisbane | 5905 |  1857594   |      1146.4     |\n|   Darwin  | 112  |   120900   |      1714.7     |\n|   Hobart  | 1357 |   205556   |      619.5      |\n|   Sydney  | 2058 |  4336374   |      1214.8     |\n| Melbourne | 1566 |  3806092   |      646.9      |\n|   Perth   | 5386 |  1554769   |      869.4      |\n+-----------+------+------------+-----------------+'

In [8]:
table.get_formatted_string?

Signature: table.get_formatted_string(out_format: 'str' = 'text', **kwargs) -> 'str'
Docstring:
Return string representation of specified format of table in current state.

Arguments:
out_format - resulting table format
kwargs - passed through to function that performs formatting
File:      /opt/conda/lib/python3.9/site-packages/prettytable/prettytable.py
Type:      method

In [9]:
# out_format=<text|html|json|csv|latex>
table.get_formatted_string("html")

'<table>\n    <thead>\n        <tr>\n            <th>City name</th>\n            <th>Area</th>\n            <th>Population</th>\n            <th>Annual Rainfall</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td>Adelaide</td>\n            <td>1295</td>\n            <td>1158259</td>\n            <td>600.5</td>\n        </tr>\n        <tr>\n            <td>Brisbane</td>\n            <td>5905</td>\n            <td>1857594</td>\n            <td>1146.4</td>\n        </tr>\n        <tr>\n            <td>Darwin</td>\n            <td>112</td>\n            <td>120900</td>\n            <td>1714.7</td>\n        </tr>\n        <tr>\n            <td>Hobart</td>\n            <td>1357</td>\n            <td>205556</td>\n            <td>619.5</td>\n        </tr>\n        <tr>\n            <td>Sydney</td>\n            <td>2058</td>\n            <td>4336374</td>\n            <td>1214.8</td>\n        </tr>\n        <tr>\n            <td>Melbourne</td>\n            <td>1566</td>\n            <td>3806092</td>\n            <td>646.9</td>\n        </tr>\n        <tr>\n            <td>Perth</td>\n            <td>5386</td>\n            <td>1554769</td>\n            <td>869.4</td>\n        </tr>\n    </tbody>\n</table>'

In [10]:
table.get_formatted_string("text")

'+-----------+------+------------+-----------------+\n| City name | Area | Population | Annual Rainfall |\n+-----------+------+------------+-----------------+\n|  Adelaide | 1295 |  1158259   |      600.5      |\n|  Brisbane | 5905 |  1857594   |      1146.4     |\n|   Darwin  | 112  |   120900   |      1714.7     |\n|   Hobart  | 1357 |   205556   |      619.5      |\n|   Sydney  | 2058 |  4336374   |      1214.8     |\n| Melbourne | 1566 |  3806092   |      646.9      |\n|   Perth   | 5386 |  1554769   |      869.4      |\n+-----------+------+------------+-----------------+'

In [11]:
table.get_formatted_string("csv")

'City name,Area,Population,Annual Rainfall\r\nAdelaide,1295,1158259,600.5\r\nBrisbane,5905,1857594,1146.4\r\nDarwin,112,120900,1714.7\r\nHobart,1357,205556,619.5\r\nSydney,2058,4336374,1214.8\r\nMelbourne,1566,3806092,646.9\r\nPerth,5386,1554769,869.4\r\n'

In [12]:
table.get_formatted_string("latex")

'\\begin{tabular}{cccc}\r\nCity name & Area & Population & Annual Rainfall \\\\\r\nAdelaide & 1295 & 1158259 & 600.5 \\\\\r\nBrisbane & 5905 & 1857594 & 1146.4 \\\\\r\nDarwin & 112 & 120900 & 1714.7 \\\\\r\nHobart & 1357 & 205556 & 619.5 \\\\\r\nSydney & 2058 & 4336374 & 1214.8 \\\\\r\nMelbourne & 1566 & 3806092 & 646.9 \\\\\r\nPerth & 5386 & 1554769 & 869.4 \\\\\r\n\\end{tabular}'

In [13]:
table.get_formatted_string("json")

'[\n    [\n        "City name",\n        "Area",\n        "Population",\n        "Annual Rainfall"\n    ],\n    {\n        "Annual Rainfall": 600.5,\n        "Area": 1295,\n        "City name": "Adelaide",\n        "Population": 1158259\n    },\n    {\n        "Annual Rainfall": 1146.4,\n        "Area": 5905,\n        "City name": "Brisbane",\n        "Population": 1857594\n    },\n    {\n        "Annual Rainfall": 1714.7,\n        "Area": 112,\n        "City name": "Darwin",\n        "Population": 120900\n    },\n    {\n        "Annual Rainfall": 619.5,\n        "Area": 1357,\n        "City name": "Hobart",\n        "Population": 205556\n    },\n    {\n        "Annual Rainfall": 1214.8,\n        "Area": 2058,\n        "City name": "Sydney",\n        "Population": 4336374\n    },\n    {\n        "Annual Rainfall": 646.9,\n        "Area": 1566,\n        "City name": "Melbourne",\n        "Population": 3806092\n    },\n    {\n        "Annual Rainfall": 869.4,\n        "Area": 5386,\n        "City name": "Perth",\n        "Population": 1554769\n    }\n]'

In [14]:
print(table.get_formatted_string("json"))

[
    [
        "City name",
        "Area",
        "Population",
        "Annual Rainfall"
    ],
    {
        "Annual Rainfall": 600.5,
        "Area": 1295,
        "City name": "Adelaide",
        "Population": 1158259
    },
    {
        "Annual Rainfall": 1146.4,
        "Area": 5905,
        "City name": "Brisbane",
        "Population": 1857594
    },
    {
        "Annual Rainfall": 1714.7,
        "Area": 112,
        "City name": "Darwin",
        "Population": 120900
    },
    {
        "Annual Rainfall": 619.5,
        "Area": 1357,
        "City name": "Hobart",
        "Population": 205556
    },
    {
        "Annual Rainfall": 1214.8,
        "Area": 2058,
        "City name": "Sydney",
        "Population": 4336374
    },
    {
        "Annual Rainfall": 646.9,
        "Area": 1566,
        "City name": "Melbourne",
        "Population": 3806092
    },
    {
        "Annual Rainfall": 869.4,
        "Area": 5386,
        "City name": "Perth",
        "Population": 1554769
    }
]

In [16]:
from IPython.display import display,HTML

In [17]:
display(HTML(table.get_formatted_string("html")))